.exercise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    color: #373944;
}

.exercise>button {
    height: 20px;
}

.exercise-buttons {
    display: flex;
    flex-direction: column;
}

.backdrop-style {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
}

.details-modal {
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    max-height: 600px;
    margin: 0 auto;
    padding: 30px;
    overflow: scroll;
}
@media(max-width: 400px) {
    .details-modal {
        max-width: 100%;
    }
}