.footer {
    height: 57px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e7853c;
    color: #373944;
    display: flex;
    justify-content: center;
    align-items: center;
}