.new-workout-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.new-workout {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 80%;
    height: 600px;
    font-family: 'Exo', sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 10px;    
    padding: 25px;
    overflow: scroll;
}

.new-workout > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
