.individual-workout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 20px 0;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 1s, color 1s, box-shadow 1s;
}

.individual-workout:hover {
    background-color: rgba(225, 225, 225, 0.5);
    color: black;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px black;
}

.individual-workout > h1 {
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.individual-workout > button {
    align-self: flex-start;
    background-color: red;
    border-radius: 5px;
    
}

.workout-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.workout-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
}

.workout-page > h2 {
    font-family: 'Exo', sans-serif;
    margin: 25px 0;
    color: white;
    padding: 0 25px;
    text-align: center;
}

.workout-exercise {
    margin-bottom: 20px;
}
.workout-exercise > h1 {
    color: #e7853c
}

.details-modal {
    font-family: 'Encode Sans Expanded', sans-serif;    
}